---
layout: default
---

<div class="category-page">
    <h1 class="page-heading">{{ page.category }}</h1>
    
    <ul class="post-list">
        {% for post in site.posts %}
        {% if post.categories contains page.category %}
        <li>
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            <div class="post-meta">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                    {{ post.date | date: "%d/%m/%Y" }}
                </time>
            </div>
            {% if post.excerpt %}
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 35 }}</p>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <div class="back-link">
        <a href="{{ '/' | relative_url }}">← Voltar para o início</a>
    </div>
</div>

